<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite" thread-count="5"
	parallel="tests">

	<listeners>
		<listener class-name="com.qa.utility.Reporting"></listener>
	</listeners>



	<test thread-count="5" name="Functional Testing on Amazon">
		<parameter name="Browser" value="chrome"></parameter>
		<parameter name="Url" value="https://www.amazon.in/"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Amazon_01" />
			<class name="com.qa.testscripts.TC_Amazon_02" />

		</classes>
	</test>
	<!-- <test thread-count="5" name="Functional Testing on Rediff Chrome"> 
		<parameter name="Browser" value="chrome"></parameter> <parameter name="Url" 
		value="https://www.rediff.com/"></parameter> <classes> <class name="com.qa.testscripts.TC_Rediff_02" 
		/> </classes> </test> -->

</suite> <!-- Test Automation Suite -->
